{% extends "base.html" %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <h1>Resume</h1>
    </div>
    <div class="card-body">
        <p>You can download my resume <a href="/static/files/Ninad_Parthiv_Shah_Resume.pdf" download>here</a>.</p>
        <h2>Education</h2>
        <p>Master of Science in Data Science, Analytics, and Engineering, Arizona State University</p>
        <p>Bachelor of Technology in Electrical Engineering with Minors in Computer Science, Indian Institute of Technology, Gandhinagar</p>
        <h2>Experience</h2>
        <p>Research Aide at the School of Computing and Augmented Intelligence, Arizona State University</p>
        <p>Database Backend Developer at the School of Earth & Space Exploration, Arizona State University</p>
        <h2>Skills</h2>
        <ul class="list-group">
            <li class="list-group-item">Python</li>
            <li class="list-group-item">Machine Learning</li>
            <li class="list-group-item">Data Visualization</li>
            <li class="list-group-item">Statistical Analysis</li>
            <li class="list-group-item">SQL</li>
        </ul>
    </div>
</div>
{% endblock %}
